body {
    margin: 0;
  }
  
  :root {
      --color-white: #fff;
      --color-purple: #79589F;
      --color-black: black;
      --color-dark-purple: #260040;
      --font: 'Open Sans', sans-serif;
  }
  
  .top {
      background-color: #79589F;
  }
  
  .container_nav {
      color: var(--color-white);
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 15px;
      font-family: var(--font);
  }
  
  .container_nav h1 {
      font-size: 30px;
  }
  
  .nav_links {
      display: flex;
      list-style: none;
      gap: 40px;
  }
  
  .nav_links a {
      color: var(--color-white);
      text-decoration: none;
  }
  
  .nav_links a:hover {
      text-decoration: underline;
  }
  
  .header_container {
      background-color: var(--color-purple);
      margin-top: -22px;
      height: 400px;
      color: var(--color-white);
      font-family: var(--font);
  }
  
  .btn {
    text-decoration: none;
    color: var(--color-white);
    border: solid 1px var(--color-white);
    border-radius: 6px;
    padding: 10px 15px;
  }

  .container_ed {
    margin-left: 15%;
    padding-top: 5%;
  }

  .container_ed p {
    width: 550px;
    height: 100px;
    font-size: 15px;
    margin-bottom: -10px;
  }

  .card {
    color: var(--color-black);
    background-color: var(--color-white);
    font-family: var(--font);
    font-size: 20px;
    width: 400px;
    float: right;
    margin-right: 400px;
    margin-top: -300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 8px 10px 5px 2px var(--color-dark-purple);
  }

  form {
    margin-bottom: 20px;
    border-style: line;
  }

  input {
    margin-top: 15px;
    font-size: 15px;
    font-family: var(--font);
  }

  .btn {
    margin-top: 20px;
    background-color: var(--color-purple);
  } 

 .basic_information {
    margin: 56px 750px;
    font-size: 17px;
  }

  .inf {
    width: 450px;
    text-align: center;
    font-family: var(--font);
  }

  .text_center {
    line-height: 30px;
  }

  .count {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 200px;
    padding: 30px;
    text-align: center;
    font-family: var(--font);
    margin-left: -240px;
    font-size: 20px;
  }

  .text_secondary {
    padding: 20px;
    text-align: center;
  }

  h3 {
    font-size: 30px;
  }

  .CLI {
    text-align: center;
  }

  .cli_card {
    border: solid 1px var(--color-purple);
    width: 500px;
    font-family: var(--font);
    margin-left: 700px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px #260040;
  }

 .container_cloud {
    background-color: #79589F;
    text-align: center;
    height: 210px;
}

.container_cloud h1 {
    font-size: 40px;
    color: var(--color-white);
    font-family: var(--font);
    padding-top: 25px;
}

.container_cloud p {
    font-size: 20px;
    color: var(--color-white);
    font-family: var(--font);
    margin-bottom: 30px;
}

.btn_btn {
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-dark-purple);
    border: solid 1px var(--color-dark-purple);
    border-radius: 6px;
    padding: 10px 20px;
    font-family: var(--font);
}
