body {
    margin: 0;
  }
  
  :root {
      --color-white: #fff;
      --color-purple: #79589F;
      --color-black: black;
      --color-dark-purple: #260040;
      --font: 'Open Sans', sans-serif;
  }
  
  .top {
      background-color: #79589F;
  }
  
  .container_nav {
      color: var(--color-white);
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 15px;
      font-family: var(--font);
  }
  
  .container_nav h1 {
      font-size: 30px;
  }
  
  .nav_links {
      display: flex;
      list-style: none;
      gap: 40px;
  }
  
  .nav_links a {
      color: var(--color-white);
      text-decoration: none;
  }
  
  .nav_links a:hover {
      text-decoration: underline;
  }
  
  .header_container {
      background-color: var(--color-purple);
      margin-top: -22px;
      height: 400px;
      color: var(--color-white);
      font-family: var(--font);
  }
  
  .btn {
    text-decoration: none;
    color: var(--color-white);
    border: solid 1px var(--color-white);
    border-radius: 6px;
    padding: 10px 15px;
  }

  .btn:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  .container_ed {
    margin-left: 15%;
    padding-top: 5%;
  }

  .container_ed p {
    width: 550px;
    height: 100px;
    font-size: 15px;
    margin-bottom: -10px;
  }

  .card {
    color: var(--color-black);
    background-color: var(--color-white);
    font-family: var(--font);
    font-size: 20px;
    width: 400px;
    float: right;
    margin-right: 400px;
    margin-top: -300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 8px 10px 5px 2px var(--color-dark-purple);
  }

  form {
    margin-bottom: 20px;
    border-style: line;
  }

  input {
    margin-top: 15px;
    font-size: 15px;
    font-family: var(--font);
  }

  .btn {
    margin-top: 20px;
    background-color: var(--color-purple);
  } 

.basic_information {
    display: grid;
    gap: 10px; 
    text-align: center;
    font-family: var(--font);
}

.count {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
}

.inf {
    max-width: 600px; 
    margin: 0 auto;
}

.count div {
    padding: 5px;
    border-radius: 8px; 
}

.count h3 {
    margin: 10px 0;
}

  h3 {
    font-size: 30px;
  }

.CLI {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cli_container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.cli_card {
  margin: 0 10px;
  border: solid 1px var(--color-purple);
  width: 500px;
  height: 40px;
  font-family: var(--font);
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px #260040;
  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
  margin: 0;
}

 .container_cloud {
    background-color: #79589F;
    text-align: center;
    height: 210px;
}

.container_cloud h1 {
    font-size: 40px;
    color: var(--color-white);
    font-family: var(--font);
    padding-top: 25px;
}

.container_cloud p {
    font-size: 20px;
    color: var(--color-white);
    font-family: var(--font);
    margin-bottom: 30px;
}

.btn_btn {
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-dark-purple);
    border: solid 1px var(--color-dark-purple);
    border-radius: 6px;
    padding: 10px 20px;
    font-family: var(--font);
}

.lg {
  font-family: var(--font);
}

.lg h2 {
  text-align: center;
}

.line_lg_ul {
  display: flex;
  list-style: none;
  justify-content: center; 
  text-align: center;
  padding: 0; 
  height: 40px;
}

.line_lg_ul li {
  width: 70px; 
  margin: 0 2%; 
  border: solid 1px var(--color-purple);
  box-shadow: 0 2px 4px #260040;
  border-radius: 10px;
  box-sizing: border-box; 
}

.line_lg_ul li:hover {
  box-shadow:
  1px 1px var(--color-dark-purple),
  2px 2px var(--color-dark-purple),
  3px 3px var(--color-dark-purple),
  4px 4px var(--color-dark-purple),
  5px 5px var(--color-dark-purple),
  6px 6px var(--color-dark-purple),
  7px 7px var(--color-dark-purple);
  -webkit-transform: translateX(-2%);
  transform: translateX(-2%);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer_sayatech {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
    padding: 20px; 
    background-color: var(--color-dark-purple);
    font-family: var(--font);
}

.footer_sayatech ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.footer_sayatech li {
    text-decoration: none;
    color: white; 
}

.sayatech_f, .footer_nav, .footer_icon {
    text-align: center; 
    color: white; 
}

.footer_icon li a {
    text-decoration: none;
    color: white; 
}

.footer_icon i {
    margin: 5px; 
    color: var(--color-white);
    padding: 30px 0;
}

.nav_ul li a {
    color: var(--color-white);
    text-decoration: none;
}

.maps {
  background-color: var(--color-dark-purple);
  display: grid;
  place-items: center;
  margin: 0;
}

iframe {
  max-width: 80%;
  max-height: 80%;
}
