body {
    width: 0;
    height: 0;
}

:root {
    --color-white: #fff;
    --color-purple: #79589F;
    --color-black: black;
    --color-dark-purple: #260040;
}

.top {
    background-color: #79589F;
    width: 1920px;
    height: 200px;
    margin-top: -20px;
    margin-left: -8px;
}

.container_nav {
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
}

.container_nav li {
    list-style: none;
    display: flex;
    gap: 60px;
}